{{ define "main" }}
<!--<header class="homepage-header">
    <h1 class="introduction">{{.Title}}</h1>
    {{ with .Params.subtitle }}
    <span class="subtitle">{{.}}</span>
    {{ end }}
  </header>-->
<div class="homepage-content">
  <!--<div class="homepage-text-over-logo">aaa</div>-->
  <!--<div class="typing">
    <div class="typing-effect">
      Typing effect for text
    </div>
  </div>-->

  <!--<div class="homepage-intro">

  </div>-->

  <div class="big-greeting align-center">
    <div class="bio">
      Hi. I'm Can Acar.
      <br>
      I'm a high school student interested in software and hardware development, math, and music.
    </div>
    <div id="homepage-logo">
      <img class="drop-shadow" src="/images/homepage_logo.svg" alt="Green website logo">
    </div>
  </div>

  <!--<div class="homepage-heading">
    What is this page about?
  </div>
  <div class="homepage-body">
    This site will mainly function as a personal portfolio website and a blog for security research.
  </div>-->
  <div class="medium-greeting">
    <br>This site will mainly function as a personal portfolio website and a blog for security
    research.<br> <br>You can find my blog <a href="/blog" class="colored-link"
      aria-label="link to blog">here</a>. <br> <br>

    <strong>
      Contact Me
    </strong>
    <br>
    Feel free to contact me at [my_name][my_lastname]@imcan.dev for any questions, or to chat about anything related to computers, math, music, or whatever other topic you feel like.
    <!--
      I should probably make a twitter account. Also
      TODO: refactor this page into theme and content parts as writing html feels barbaric at this point.
    <br>
    <br>
    <strong>
      Socials
    </strong>
    <br>
    Twitter: <a href="/blog" class="social-profile-link"
    aria-label="twitter link">@</a>-->
    <br>
  </div>
</div>
<div>
  {{ range .Site.RegularPages }}
  {{ .Render "summary"}}
  {{ end }}
</div>
{{ end }}