<link rel="icon" type="image/svg" href="/favicon.svg"/>

<link rel="stylesheet" href="/css/main.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap&text=╰┗└" rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=PT+Mono&family=Noto+Sans+Math&family=Inter&family=Ubuntu+Mono&family=Inconsolata&display=swap"
    rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Can Acar's personal website">
<meta charset="UTF-8">

<title>{{ .Site.Title }}</title>
<script src="/js/main.js" defer></script>